{% extends 'base.html' %}
{% load form_tags %}

{% block title %}비밀번호 변경{% endblock %}
{% block content %}
  <div class="container mt-5" style="max-width: 400px;">
    <h2>비밀번호 변경</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.old_password|add_class:"form-control mb-3" }}
      {{ form.new_password1|add_class:"form-control mb-3" }}
      {{ form.new_password2|add_class:"form-control mb-3" }}
      <button type="submit" class="btn btn-primary">변경하기</button>
    </form>
  </div>
{% endblock %}
